<header id="header" class="w3-container w3-win-metro-orange">
  <div class="title-container">
    <a href="http://frontendJR.nl" class="back">
      <p>FrontendJR</p>
    </a>
    <h1>BOEKEN</h1>
  </div>
  <div class="w3-bar w3-margin-bottom">
    <a routerLink="/boeken" routerLinkActive="active-link" class="w3-bar-item w3-button w3-win-metro-dark-orange w3-mobile">Boeken</a>
    <a routerLink="/schrijvers" routerLinkActive="active-link" class="w3-bar-item w3-button w3-win-metro-dark-orange w3-mobile">Schijvers</a>
    <a routerLink="/nieuw-boek-zoeken" routerLinkActive="active-link" class="w3-bar-item w3-button w3-win-metro-dark-orange w3-mobile">+ Nieuw boek</a>
  </div>
</header>
