<header id="header" class="w3-container w3-win-metro-orange">
  <div class="title-container">
    <a href="https://frontendJR.nl" class="back">
      <p>FrontendJR</p>
    </a>
    <h1>BOEKEN</h1>
  </div>
  <div id="nav-bar" class="w3-margin-bottom">
    <a routerLink="/boeken" routerLinkActive="active-link" class="nav-bar-item w3-button w3-win-metro-dark-orange">Boeken</a>
    <a routerLink="/schrijvers" routerLinkActive="active-link" class="nav-bar-item w3-button w3-win-metro-dark-orange">Schijvers</a>
    <a routerLink="/nieuw-boek-zoeken" routerLinkActive="active-link" class="nav-bar-item w3-button w3-win-metro-dark-orange">+ Nieuw boek</a>
  </div>
</header>
