.w3-win-metro-light-blue
{color:#000;background-color:#eff4ff}
.w3-win-metro-blue
{color:#fff;background-color:#2d89ef}
.w3-win-metro-dark-blue
{color:#fff;background-color:#2b5797}
.w3-win-metro-yellow
{color:#fff;background-color:#ffc40d}
.w3-win-metro-orange
{color:#fff;background-color:#e3a21a}
.w3-win-metro-dark-orange
{color:#fff;background-color:#da532c}


.w3-text-win-metro-yellow {
  color: #ffc40d;
}