.author {
  font-weight: 700;
}
.w3-check {
  margin-left: 5px;
} 
input, textarea {
  background-color: rgb(230,230,230);
}
.w3-bar {
  text-align: center;
}
.w3-button {
  margin-bottom: 4px;
}
fieldset {
  min-width: min-content;
}

@media (min-width: 360px) {
  fieldset label {
    margin-left: 16px;
  } 
}